<div class="header">
    <b>Lists</b>
</div>
<p>
<%= render :partial => 'shared/filter_form', :locals => {:controller => 'lists'} %>
<div align="center">
    <%= will_paginate @lists %>
</div>
<table class="list" width="100%">
    <tr>
        <th>Name</th>
        <th>Items</th>
        <th>Actions</th>
    </tr>
    <% @lists.each do |@list| %>
    <tr class="<%= cycle('row_even','row_odd') %>">
        <td width="70%"><%= link_to (display_list :name), @list %></td>
        <td><%= @list.complete_todos.count %>/<%= @list.todos.count %> (<%= (@list.todos.count > 0) ? ((@list.complete_todos.count.to_f/@list.todos.count)*100).round : 0 %>%)</td>
        <td>
            <%= link_to image_tag("themes/default/show.png", {:border => 0}), @list %>
            <%= link_to image_tag("themes/default/edit.png", {:border => 0}), edit_list_path(@list) %>
            <%= link_to image_tag("themes/default/delete.png", {:border => 0}), @list, :confirm => 'Delete this list?', :method => :delete %>
        </td>
    </tr>
    <% end  %>
</table>
<p>
<%= link_to 'New', new_list_path %>
