<div class="header">
    <b><%= controller.action_name.capitalize %> User Story</b>
</div>

<div style="padding-left:50px;padding-top:25px">

<%= form_for(@user_story) do |f| %>
    <div class="error_messages"><%= f.error_messages %></div>

    <b><%=  f.label :category %>:</b>
    <%= f.select(:user_story_category_id, UserStoryCategory.find(:all).collect {|c| [c.name, c.id] }) %>
    <%= link_to image_tag("themes/default/add.png", {:border => 0, :align => 'absmiddle'}), :controller => 'user_story_categories', :action => 'new' %>
    <p>

    <b><%=  f.label :title %>:</b>
    <%=  f.text_field :title, :size => 25 %>
    <p>

    <b><%=  f.label :priority %>:</b>
    <%=  f.text_field :priority, :size => 5 %>
    <p>

    <b><%=  f.label :estimate %>:</b>
    <%=  f.text_field :estimate, :size => 5 %>
    <p>

    <b><%=  f.label :role %>:</b>
    <%=  f.text_field :role, :size => 25 %>
    <p>

    <b><%=  f.label :feature %>:</b>
    <%=  f.text_field :feature, :size => 25 %>
    <p>

    <b><%=  f.label :benefit %>:</b>
    <%=  f.text_field :benefit, :size => 25 %>
    <p>

    <b><%=  f.label :ticket %>:</b>
    <%=  f.text_field :jira_ticket, :size => 25 %>
    <p>



    <p><%= f.submit "Save" %></p>
<% end %>

<%= link_to 'Show', @user_story %> |
<%= link_to 'Back', user_stories_path %>

</div>