<div class="header">
    <b>User Story Categories</b>
</div>
<p>
<%= render :partial => 'shared/filter_form', :locals => {:action => '/user_story_categories'} %>
<div align="center">
    <%= will_paginate @user_story_categories %>
</div>
<table class="list" width="100%">
    <tr>
        <th width="55%">Title</th>
        <th>Actions</th>
    </tr>
    <% @user_story_categories.each do |@user_story_category| %>
    <tr class="<%= cycle('row_even','row_odd') %>">
        <td><%= link_to @user_story_category.name, @user_story_category %></td>
        <td>
            <%= link_to '<img src="/images/themes/default/show.png" border="0">', @user_story_category%>
            <%= link_to '<img src="/images/themes/default/edit.png" border="0">', edit_user_story_category_path(@user_story_category) %>
            <%= link_to '<img src="/images/themes/default/delete.png" border="0">', @user_story_category, :confirm => 'Delete this category?', :method => :delete %>
        </td>
    </tr>
    <% end  %>
</table>
