<div class="header">
    Todo
</div>

<div style="font-size:large;font-weight:bold">
    <%= display_todo @todo, :priority %> - <%= raw display_todo @todo, :title %>
</div>

<p>
    <b>Due: </b><%= display_todo @todo, :due_date %>
    <br>
    <b>Completed: </b><%= display_todo @todo, :completed_date %>
</p>

<p>
    <%= raw display_todo @todo, :description %>
</p>

<%= link_to 'Edit', edit_todo_path(@todo) %>
