<div class="header">
    Todo
</div>

<div style="font-size:large;font-weight:bold">
    <%= display_todo :priority %> - <%= display_todo :title %>
</div>

<p>
    <b>Due: </b><%= display_todo :due_date %>
    <br>
    <b>Completed: </b><%= display_todo :completed_date %>
</p>

<p>
    <%= display_todo :description %>
</p>

<%= link_to 'Edit', edit_todo_path(@todo) %>
