<div class="header">
    <b>Obstacles</b>
</div>
<p>
<table class="list" width="100%">
    <tr>
        <th>Title</th>
        <th>Goal</th>
        <th>Description</th>
        <th>Overcome?</th>
        <th>Actions</th>
    </tr>
    <% @obstacles.each do |obstacle| %>
    <tr class="<%= cycle('row_even','row_odd') %>">
        <td><%= obstacle.title %></td>
        <td><%= obstacle.goal.name %></td>
        <td><%= obstacle.description %></td>
        <td><%= obstacle.is_overcome %></td>
        <td>
            <%= link_to '<img src="/images/themes/default/show.png" border="0">', obstacle %>
            <%= link_to '<img src="/images/themes/default/edit.png" border="0">', edit_obstacle_path(obstacle) %>
            <%= link_to '<img src="/images/themes/default/delete.png" border="0">', obstacle, :confirm => 'Delete this obstacle?', :method => :delete %>
        </td>
    </tr>
    <% end  %>
</table>
