<div class="header">
    <b><%= controller.action_name.capitalize %> Obstacle</b>
</div>

<div style="padding-left:50px;padding-top:25px">

<%= form_for(@obstacle) do |f| %>

    <b><%=  f.label :title %>:</b>
    <%= f.text_field :title, :size => 25 %>
    <p>

    <b><%=  f.label :goal %>:</b>
    <%= @obstacle.goal.name %>
    <p>

    <b><%=  f.label :description %>:</b>
    <br>
    <%=  f.text_area :description, :rows => 15, :cols => 80, :wrap => 'physical' %>
    <p>

    <b><%=  f.label :overcome %>:</b>
    <%= f.check_box :is_overcome %>

    <p><%= f.submit "Save" %></p>
<% end %>

</div>
