<div class="header">
    <b>Goals</b>
</div>
<p>
<%= render :partial => 'shared/filter_form', :locals => {:controller => 'goals'} %>
<div align="center">
    <%= will_paginate @goals %>
</div>
<table class="list" width="100%">
    <tr>
        <th>Priority</th>
        <th>Percent</th>
        <th>Name</th>
        <th>Description</th>
        <th>Obstacles</th>
        <th>Actions</th>
    </tr>
    <% @goals.each do |@goal| %>
    <tr class="<%= cycle('row_even','row_odd') %>">
        <td><%= display_goal :priority %></td>
        <td><%= display_goal :percent_complete %></td>
        <td><%= link_to (display_goal :name), @goal %></td>
        <td width="25%"><%= display_goal :description %></td>
        <td><%= display_goal :obstacles %></td>
        <td>
            <%= link_to image_tag("themes/default/show.png", {:border => 0}), @goal %>
            <%= link_to image_tag("themes/default/edit.png", {:border => 0}), edit_goal_path(@goal) %>
            <%= link_to image_tag("themes/default/delete.png", {:border => 0}), @goal, :confirm => 'Delete this goal?', :method => :delete %>

            <%  unless (@goal.completed) %>
                |
                <%=  link_to image_tag("themes/default/checkmark.png", {:border => 0}), :controller => 'goals', :action => 'mark_complete', :id => @goal %>
                <%=  link_to image_tag("themes/default/warning.png", {:border => 0}),   :controller => 'goals', :action => 'new_obstacle',  :id => @goal %>
            <%  end %>
        </td>
    </tr>
    <% end  %>
</table>
