<div class="header">
    <b><%= controller.action_name.capitalize %> Goal</b>
</div>

<div style="padding-left:50px;padding-top:25px">

<%= form_for(@goal) do |f| %>
    <%= f.error_messages %>

    <b><%=  f.label :priority %>:</b>
    <%= f.select(:priority, Goal::PRIORITIES.collect {|p| [p, p] }) %>
    <p>

    <b><%=  f.label :percent %>:</b>
    <%= f.select(:percent_complete, Goal::PERCENT.collect {|p| [p, p] }) %>
    <p>

    <b><%=  f.label :name %>:</b>
    <%= f.text_field :name, :size => 25 %>
    <p>

    <b><%=  f.label :description %>:</b>
    <br>
    <%=  f.text_area :description, :rows => 15, :cols => 80, :wrap => 'physical' %>

    <p><%= f.submit "Save" %></p>
<% end %>

<%= link_to 'Show', @goal %> |
<%= link_to 'Back', goals_path %>

</div>