<div class="header">
    <b>Work Days</b>
</div>
<table class="list" width="100%">
    <tr>
        <th>Date</th>
        <th>In</th>
        <th>Out</th>
        <th>Lunch</th>
        <th>Hours</th>
        <th>Day Type</th>
        <th>Note</th>
        <th>Actions</th>
    </tr>
    <% @work_days.each do |w| %>
    <tr class="<%= cycle('row_even','row_odd') %>">
        <td width="18%"><%= raw display_work_day w, :work_date %></td>
        <td><%= raw display_work_day w, :in %></td>
        <td><%= raw display_work_day w, :out %></td>
        <td><%= raw display_work_day w, :lunch %></td>
        <td><%= raw display_work_day w, :total_hours %></td>
        <td width="20%"><%= raw display_work_day w, :day_type %> (<%= raw work_day_day_type_actions(w) %>)</td>
        <td width="10%"><%= raw display_work_day w, :note %></td>
        <td>
            <%= link_to image_tag("themes/default/show.png", {:border => 0}), w %>
            <%= link_to image_tag("themes/default/edit.png", {:border => 0}), edit_work_day_path(w) %>
            <%= link_to image_tag("themes/default/delete.png", {:border => 0}), w, :confirm => 'Delete this day?', :method => :delete %>
        </td>
    </tr>
    <% end  %>
</table>
<p>
<%= link_to 'New', new_work_day_path %>
|
<%= link_to 'Generate This Week', :controller => 'work_days', :action => 'generate_week', :id => '-' %>
