<div class="header">
    <b>Work Days</b>
</div>
<table class="list" width="100%">
    <tr>
        <th>Date</th>
        <th>In</th>
        <th>Out</th>
        <th>Hours</th>
        <th>Day Type</th>
        <th>Note</th>
        <th>Actions</th>
    </tr>
    <% @work_days.each do |@work_day| %>
    <tr class="<%= cycle('row_even','row_odd') %>">
        <td width="18%"><%= display_work_day :work_date %></td>
        <td><%= display_work_day :in %></td>
        <td><%= display_work_day :out %></td>
        <td><%= display_work_day :total_hours %></td>
        <td width="20%"><%= display_work_day :day_type %> (<%= work_day_day_type_actions(@work_day) %>)</td>
        <td width="10%"><%= display_work_day :note %></td>
        <td>
            <%= link_to image_tag("themes/default/show.png", {:border => 0}), @work_day %>
            <%= link_to image_tag("themes/default/edit.png", {:border => 0}), edit_work_day_path(@work_day) %>
            <%= link_to image_tag("themes/default/delete.png", {:border => 0}), @work_day, :confirm => 'Delete this day?', :method => :delete %>
        </td>
    </tr>
    <% end  %>
</table>
<p>
<%= link_to 'New', new_work_day_path %>
|
<%= link_to 'Generate This Week', :controller => 'work_days', :action => 'generate_week', :id => '-' %>
