<div class="header">
    <b><%= controller.action_name.capitalize %> Work Day</b>
</div>

<div style="padding-left:50px;padding-top:25px">

<% form_for(@work_day) do |f| %>
    <div class="error_messages"><%= f.error_messages %></div>

    <b><%= f.label :work_date %>:</b>
    <%= calendariffic_input(false, 'work_day_work_date', 'calendariffic/date.png',
        'start_cal', '%Y-%m-%d', @work_day.work_date, { :readonly => 'true'}, {:class => 'borderless'}) %>
    <p>

    <b><%= f.label :in %>:</b>
    <%= f.time_select :in %>
    <p>

    <b><%= f.label :out %>:</b>
        <%= f.time_select :out %>
    <p>

    <b><%= f.label :lunch %>:</b>
        <%= f.time_select :lunch %>
    <p>

    <b><%= f.label :note %>:</b>
    <%=  f.text_field :note, :size => 25 %>
    <p>

    <b><%= f.label :is_holiday %>:</b>
    <%=  f.check_box :is_holiday %>
    <p>

    <b><%= f.label :is_vacation %>:</b>
    <%=  f.check_box :is_vacation %>
    <p>

    <b><%= f.label :is_sick_day %>:</b>
    <%=  f.check_box :is_sick_day %>
    <p>

    <p><%= f.submit "Save" %></p>
<% end %>

<%= link_to 'Show', @work_day %> |
<%= link_to 'Back', work_days_path %>

</div>
