<div class="header">
    Work Day
</div>

<div style="font-size:large;">
    <b><%= display_work_day :work_date %></b> was a <b><%= display_work_day :day_type %></b>.
    <br>
    <% if (@work_day.is_holiday || @work_day.is_vacation || @work_day.is_sick_day) %>
        I did not work this day.
    <%  else %>
        I came in to work at <font color="green"><%= display_work_day :in %></font>,
        took <font color="orange"><%= display_work_day :lunch %></font> for lunch,
        and left at <font color="red"><%= display_work_day :out %></font> for
        a total of <b><%= sprintf("%0.2f", @work_day.total_hours()) %></b> hours.
    <% end %>
    <p>
        <%= display_work_day :note %>
    </p>
</div>

<p>

<%= link_to 'Edit', edit_work_day_path(@work_day) %>
