<html>
    <head>
        <title>Workman - <%= controller.controller_name.capitalize + " " + controller.action_name.capitalize %></title>

        <%= stylesheet_link_tag    "application", :media => "all" %>

        <%= stylesheet_link_tag User.user.nil? ? 'None' : User.user.style_main %>
        <%= stylesheet_link_tag 'calendariffic/calendar-'+(User.user.nil? ? 'system' : User.user.style_calendar)+'.css' %>

        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>

    </head>
    <body id="main_body">

        <!-- Header -->
        <div class="header">
            <%= render(:partial => 'shared/header') %>
        </div>

        <!-- Top Menu -->
        <div class="top_menu">
            <%= render(:partial => 'shared/top_menu') %>
        </div>

        <!-- Side Menu & Main Content -->
        <table border="0" width="100%">
            <tr>
                <td width="12%" id="side_menu" valign="top">
                    <%= render(:partial => "shared/side_menu")%>
                </td>
                <td width="100%" valign="top" bgcolor="white">
                    <%= yield  %>
                </td>
            </tr>
        </table>

        <!-- Footer -->
        <div class="header" style="text-align:center">&copy; Craig N. Caroon 2005-2011</div>

    </body>
</html>
